<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2011 The MITRE Corporation
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest android:versionCode="1" android:versionName="1.0"
    package="org.projecthdata.viewer" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7"/>
    <application android:icon="@drawable/icon"
        android:label="@string/app_name" android:theme="@style/Theme.Sherlock.Light">
        <activity android:label="@string/app_name" android:name=".RootActivity">
 
        </activity>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".XmlActivity"/>
        <activity android:label="EHR Chooser"
            android:name="org.projecthdata.viewer.ui.HrfChooserActivity" android:theme="@style/Theme.Sherlock.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="EHR Browser"
            android:name=".ui.EhrActivity" android:theme="@style/Theme.Sherlock.Light"/>
        <service android:name=".service.DataSyncService"/>
        <provider
            android:authorities="org.projecthdata.viewer.provider.vital_signscontentprovider" android:name="org.projecthdata.viewer.provider.VITAL_SIGNSContentProvider"/>
        <provider
            android:authorities="org.projecthdata.viewer.provider.allergiescontentprovider" android:name="org.projecthdata.viewer.provider.ALLERGIESContentProvider"/>
        <activity android:label="New Height Reading" android:name="org.projecthdata.viewer.ui.HeightFormActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
