<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.projecthdata" android:versionCode="1" android:versionName="0.0.1-SNAPSHOT">
    <uses-sdk android:minSdkVersion="7"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".hhub.HHubApplication">

        <activity android:name=".browser.EhrActivity"/>
        <activity android:name=".browser.ControllerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".browser.BrowserActivity"/>
        <activity android:name=".hhub.ui.HDataWebOauthActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>

